modules = ["vue-node-18", "nodejs-18", "web"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3000

[deployment]
deploymentTarget = "static"
build = ["pnpm", "build"]
publicDir = "apps/orbit/dist"

[userenv]

[userenv.shared]
VITE_COGNITO_USER_POOL_ID = "eu-west-1_4KVGPeV6s"
VITE_COGNITO_CLIENT_ID = "71a7nhh8g9sftcfogv9ul35nhu"
