@tailwind base;
@tailwind components;
@tailwind utilities;

/* Labeeb Chat Widget Styles */
.labeeb-chat {
  @apply flex flex-col h-full;
}

.labeeb-chat-messages {
  @apply flex-1 overflow-y-auto p-4 space-y-4;
}

.labeeb-chat-input {
  @apply border-t border-gray-200 p-4;
}
